<main>
    <section class="text">
        <h1>Registry</h1>
        <p>As we look forward to celebrating our wedding with you, we realize we have all the “stuff” we need to start our lives together. What we want most of all is to create memorable experiences on our honeymoon. </p>
        <p>You can help us by contributing toward our dream trip to see the Norther Lights. You can find our honeymoon fund registry HERE and choose what part of our trip you'd like to be part of!</p>
    </section>
</main>