<main id="whereAt">
    <section class="text">
        <h1>Where At?</h1>
        <p>We'll be having both the ceremony and reception at the Hughes Home. <br>You can find it at 
            <a href="https://goo.gl/maps/f5BSw8VnJ3XYVHx58">250 Greening Road</a> in Port Sanilac Michigan</p>

            <!-- Delete Later--><br><br><br><p>placeholder images below</p>

    </section>
    <div class="pictures">
        <img class="img1" src="../../assets/pictures/House1.PNG" alt="Picture of the Hughes home">
        <img class="img2" src="../../assets/pictures/engaged2.jpg" alt="Picture of the Hughes home">
        <img class="img3" src="../../assets/pictures/engaged3.jpeg" alt="Picture of the Hughes home">
    </div>
</main>
