<nav>
    <a href="" class="logo">
      <span>Liam &nbsp;</span>
      <span>& &nbsp;</span>
      <span>Micki &nbsp;</span>
      <span class="hide2023">2023</span>
    </a>
  
    <ul class="navbar" [ngClass]="{'open' : menuOpen == true}">
      <li><a href="./#whereAt" fragment="#whereAt">Where At?</a></li>
      <li><a href="./#dress">What to Wear?</a></li>
      <li><a href=".#todo">What to Do?</a></li>
      <li><a href="./#toStay">Where to Stay?</a></li>
      <li class="hideRSVP"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeYHU2dHBkeWshWpTgWrg5k9ALMxdfck8wyqww-UG78TUknyQ/viewform?usp=sf_link">RSVP</a></li>
      <li><a href="./#registry">Registry</a></li>
    </ul>

    <div class="rsvp">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYHU2dHBkeWshWpTgWrg5k9ALMxdfck8wyqww-UG78TUknyQ/viewform?usp=sf_link">RSVP</a>
        <div class="menu-icon" (click)="showMenu()"><img src="../../assets/pictures/menu-icon.svg" alt="Menu Icon"></div>
    </div>
</nav>