<img src="../../assets/pictures/landingPage-edit.jpg">

<main>
    <section class="LM">
        <span class="spanText">Liam</span>
        <span class="andBar">
            <span class="and spanText">&</span>
        </span>
        <span class="spanText">Micki</span><br>
        <span class="date">August 19th 2023</span>
    </section>
    
    <section class="RSVP">
        <button><span><a href="https://docs.google.com/forms/d/e/1FAIpQLSeYHU2dHBkeWshWpTgWrg5k9ALMxdfck8wyqww-UG78TUknyQ/viewform?usp=sf_link">RSVP HERE</a></span></button>
    </section>

    <section class="seeMore">
        <hr>
        <h3>Welcome to our Wedding Website!</h3>
        <p>See more details for the big day below! If you have any questions, please don't hesitate to reach out and ask!</p>
        <hr>
    </section>
</main>