$mainTextColor: #b18969;
$altTextColor:   rgb(153, 125, 66);  


@font-face {
    font-family: GreatVibes;
    src: url(../../assets/fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: GoodDog;
    src: url(../../assets/fonts/GOODDP__.TTF);
}

img{
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;
}

.LM{
    text-align: center;
    width: 50%;
    margin: 5em auto;
    display: block;

    .spanText{
        display: block;
        font-family: GreatVibes, 'Times New Roman', Times, serif;
        font-size: 8em;
        font-weight:bold;
        color: $mainTextColor;
        letter-spacing: 0.2em;
    }
    .date{
        margin-top: 1em;
        font-size: 3em;
        font-family: GoodDog, 'Times New Roman', Times, serif;
        color: $altTextColor;
    }
    .andBar{
        position: relative;
        margin: auto;
        display: block;
        max-width: 500px;
        overflow-x: hidden;
    }
    .and{
        padding: 1em;
        font-size: 3em!important;
    }
   .andBar:before, .andBar:after{
        content: '';
        display: block;
        height: 4px;
        width: 40%;
        position: absolute;
        top: 50%;
        background: $altTextColor;
   }
   .andBar:before{
    left: 0;
   }
   .andBar:after{
    right:0;
   }

}
.RSVP{
    text-align: center;

    button{
        padding: .5em 1em;
        background-color: transparent;
        border: 4px solid $altTextColor;
        color: $mainTextColor;
        font-family: GoodDog, 'Times New Roman', Times, serif;
        font-size: 2em;

        a{
            color: inherit;
        }
     
    }
}
.seeMore{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 8em;
    font-family: GoodDog, 'Times New Roman', Times, serif;

    hr{
        height: 1px;
        width: 35%;
        margin: 3em auto;
        border: none;
        background: $altTextColor;
    }
    h3{
        font-size: 4em;
        color: $altTextColor;
        padding-bottom: 1em;
    }
    p{
        font-size: 2em;
        color: $mainTextColor;
    }
}

@media (max-width: 1250px) {
    .spanText{
        font-size: 6em!important;
        transition: all .50s ease;
    }
    
}
@media (max-width: 500px) {
    img{
        height: 40vh!important;
    }
    .spanText{
        font-size: 4em!important;
        transition: all .50s ease;
    }
    .date{
        font-size: 1em!important;
    }
}